section {
    overflow: hidden;
}

.acercaDe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 80vh;
    color: white;
    width: 1400px;
    gap: 3rem;
}

h2 {
    color: #d2c2b0;
}

.acercaDe-texto {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.acercaDe-texto h2 {
    font-size: 40px;
    color: #d2c2b0;
}

.acercaDe-texto p {
    font-size: 30px;
    text-align: end;
}

.acercaDe img {
    max-width: 100%;
    height: 700px;
}